.messagecontainer{
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 10px 0;
}

.text{
    background-color: rgb(241, 241, 241);
    border-radius: 10px;
    padding: 7px 15px;
    margin-right: 5px;
}

.user{
    margin-right:5px;
}
